<div class="float-end">
  <small>
    Your cart:
    <span *ngIf="cart.itemCount > 0">
      {{cart.itemCount}} item(s)
      {{cart.cartPrice | currency: "USD": "symbol":"2.2-2"}}
    </span>
    <span *ngIf="cart.itemCount == 0"> (empty) </span>
  </small>

  <button class="btn btn-sm bg-white"
          [disabled]="cart.itemCount === 0">
    <a class="text-decoration-none text-dark" routerLink="/cart" href="#">Buy</a>
    <i class="fa fa-shopping-basket"></i>
  </button>
</div>
