<div class="navbar bg-animated-gradient rounded-1 shadow border-1">
  <a href="#" class="navbar-brand text-white p-1">
    {{"sport store" | uppercase}}</a>
</div>

<div class="m-1">
  <div class="p-2 card shadow-lg border-2">
    <div class="card-header">Your Cart</div>
    <div class="card-body">
      <div class="card-text">
      <!--    Table goes here!    -->
        <table class="table table-bordered table-striped p-1">

          <thead>
          <tr class="text-center">
            <th>Quantity</th>
            <th>Product</th>
            <th class="text-end">Price</th>
            <th class="text-end">Subtotal</th>
            <th>Action</th>
          </tr>
          </thead>

          <tbody>

          <tr *ngIf="cart.lines.length == 0">
            <td colspan="5" class="text-center">Your cart is empty</td>
          </tr>

          <tr *ngFor="let line of cart.lines">

            <td>
              <input type="number"
                     class="form-control-sm"
                     min="1"
                     style="width: 5em"
                     [value]="line.quantity"
                     (change)="cart.updateQuantity(line.product, $any($event.target).value)"
                     aria-label="">
            </td>

            <td>{{line.product.name}}</td>

            <td class="text-end">
              {{line.product.price | currency: "USD": "symbol": "2.2-2"}}
            </td>

            <td class="text-end">
              {{line.lineTotal | currency: "USD": "symbol": "2.2-2"}}
            </td>

            <td class="text-center">
              <button type="button"
                      class="btn btn-sm btn-danger"
                      (click)="cart.removeLine($any(line.product.id))">Remove</button>
            </td>

          </tr>
          </tbody>

          <tfoot>
          <tr>
            <td colspan="4" class="text-end">Total: </td>
            <td class="text-end">
              {{cart.cartPrice | currency: "USD":"symbol":"2.2-2"}}
            </td>
          </tr>
          </tfoot>

        </table>
      </div>
    </div>
    <div class="card-footer text-center">
    <!--  Footer goes here!    -->
      <div class="btn-group">
        <button type="button"
                class="btn btn-primary"
                routerLink="/store">Continue Shopping</button>
        <button type="button"
                class="btn btn-secondary"
                routerLink="/checkout"
                [disabled]="cart.lines.length === 0">Checkout</button>
      </div>


    </div>

  </div>

</div>
