<div class="container-fluid">
<div class="row">
  <div class="col bg-success p-3 text-white bg-animated-gradient">
    <a
       class="navbar-brand text-white"
       routerLink="/checkout">SPORTS STORE</a>
    <app-store-basket></app-store-basket>
  </div>
</div>

  <div class="row">
    <div class="col-3 p-3 bg-info text-dark">
      {{categories.length}} Categories
    </div>
    <div class="col-9 p-3 bg-warning text-dark">
      {{products.length}} Products
    </div>
  </div>


  <div class="row">
    <div class="col-xl-1 col-md-2 col-sm-2 p-1 text-center">
      <div class="btn-group-vertical">

      <button class="btn btn-block btn-outline-primary"
              type="button"
              (click)="changeCategory()"
              [class.active]="selectedCategory === undefined">Home</button>

      <button  *ngFor="let cat of categories"
               class="btn btn-block btn-outline-primary"
               type="button"
               [class.active]="cat === selectedCategory"
               (click)="changeCategory(cat)">{{cat}}</button>
        <button class="btn btn-block btn-danger mt-3" routerLink="/admin">Admin</button>
      </div>
    </div>

    <div class="col-xl-11 col-md-10 col-sm-10">
      <div class="row">
        <div class="col-12">

        <div class="form-inline m-1 float-start">
          <select class="form-control" [(ngModel)]="itemsPerPage" (change)="this.changePage(1)" aria-label="">
            <option value="3">3 per Page</option>
            <option value="4">4 per Page</option>
            <option value="5">5 per Page</option>
          </select>
        </div>

        <div class="btn-group float-end my-1">

          <!--    Use standard development tools     -->
          <!--          <button class="btn btn-outline-primary"-->
          <!--                  *ngFor="let page of pageNumbers"-->
          <!--                  (click)="changePage(page)"-->
          <!--                  [class.active]="page === selectedPage">{{page}}</button>-->

          <!--    Use custom directive *counter     -->
          <button class="btn btn-outline-primary"
                  *counter="let page of pageCount"
                  (click)="changePage(page)"
                  [class.active]="page === selectedPage">{{page}}</button>
        </div>
        </div>

      </div>

      <div *ngFor="let product of products" class="my-1 card card-outline-primary shadow">
        <div class="card-header">{{product.name}}</div>
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Category: {{product.category}}</h6>
          <p class="card-text">{{product.description}}</p>
          <div class="btn-group float-end">
            <button class="btn btn-success btn-sm"
                    (click)="addProductToCart(product)"
                    type="button">Add to Cart</button>
            <button class="btn btn-sm btn-outline-warning" type="button" (click)="showCart()">Show Cart</button>

          </div>

        </div>
        <div class="card-footer">
          <span class="badge bg-secondary float-end">{{product.price | currency: "USD": "symbol": "2.2-2"}}</span>
        </div>
      </div>

      <div class="form-inline my-1 float-start">
        <select class="form-control" [(ngModel)]="itemsPerPage" (change)="this.changePage(1)" aria-label="">
          <option value="3">3 per Page</option>
          <option value="4">4 per Page</option>
          <option value="5">5 per Page</option>
        </select>
      </div>
      <div class="btn-group float-end my-1">

        <!--    Use standard development tools     -->
        <!--        <button class="btn btn-outline-primary"-->
        <!--                *ngFor="let page of pageNumbers"-->
        <!--                (click)="changePage(page)"-->
        <!--                [class.active]="page === selectedPage">{{page}}</button>-->

        <!--    Use custom directive *counter     -->
        <button class="btn btn-outline-primary"
                *counter="let page of pageCount"
                (click)="changePage(page)"
                [class.active]="page === selectedPage">{{page}}</button>


      </div>

    </div>

  </div>


</div>
