<div class="bg-info p-2">
  <h3>Placeholder for Admin Features</h3>
  <div class="float-end">
    <button type="button" class="btn btn-info" (click)="authService.clear()">Logout</button>
    <button type="button"
            class="btn btn-success"
            (click)="backToStore()"
    >Back to Store</button>
  </div>
</div>

<p>Welcome to admin panel!</p>
<p>You are authenticated? - {{authService.authenticated}}</p>
