<div class="container-fluid">
  <div class="row">
    <div class="col bg-success p-3 text-white bg-animated-gradient">
      <a href="#" class="navbar-brand text-white">SPORTS STORE</a>
    </div>
  </div>
</div>

<div class="bg-danger mt-1 p-1 text-center" *ngIf="errorMessage">{{errorMessage}}</div>

<div class="row justify-content-center mt-4">
<div class="col-md-6 p-4 border shadow-lg rounded-3">
  <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
    <div class="form-group">
      <label for="name">{{"name" | titlecase}}</label>
      <input type="text" class="form-control" name="username" id="name" [(ngModel)]="username" required>
    </div>

    <div class="form-group">
      <label for="password">{{"password" | titlecase}}</label>
      <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password" required>
    </div>

    <div class="btn-group float-end mt-3">
      <button class="btn btn-secondary btn-sm" routerLink="/" type="button">Go Back</button>
      <button class="btn btn-primary btn-sm"  type="submit">Log In</button>
    </div>

  </form>
</div>
</div>
