<div class="navbar bg-animated-gradient rounded-1 shadow border-1">
  <a href="#" class="navbar-brand text-white p-1">
    {{"sport store" | uppercase}}</a>
</div>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="text-center border-3 shadow-lg p-4"
         *ngIf="orderSent"
         style="margin-top: 25%">
      <h2>Thanks!</h2>
      <p>Thanks for placing your order.</p>
      <p>We'll ship your goods as soon as possible.</p>
      <button class="btn btn-primary"
              type="button"
              routerLink="/store">Return to Store</button>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-md-8">

<form *ngIf="!orderSent"
      #form="ngForm"
      novalidate
      (ngSubmit)="submitOrder(form)"
      class="m-1">

  <div class="form-group">
    <label for="name">{{"name" | titlecase}}</label>
    <input id="name"
           type="text"
           #name="ngModel"
           name="name"
           class="form-control"
           [(ngModel)]="order.name" required>
    <span *ngIf="submitted && name.invalid" class="text-danger">Please enter yor name</span>
  </div>

  <div class="form-group">
    <label for="address">{{"address" | titlecase}}</label>
    <input id="address"
           type="text"
           #address="ngModel"
           name="address"
           class="form-control"
           [(ngModel)]="order.address" required>
    <span *ngIf="submitted && address.invalid" class="text-danger">Please enter yor address</span>
  </div>

  <div class="form-group">
    <label for="city">{{"city" | titlecase}}</label>
    <input id="city"
           type="text"
           #city="ngModel"
           name="city"
           class="form-control"
           [(ngModel)]="order.city" required>
    <span *ngIf="submitted && city.invalid" class="text-danger">Please enter yor city</span>
  </div>

  <div class="form-group">
    <label for="state">{{"state" | titlecase}}</label>
    <input id="state"
           type="text"
           #state="ngModel"
           name="state"
           class="form-control"
           [(ngModel)]="order.state" required>
    <span *ngIf="submitted && state.invalid" class="text-danger">Please enter yor state</span>
  </div>

  <div class="form-group">
    <label for="zip">{{"zip" | titlecase}}</label>
    <input id="zip"
           type="text"
           #zip="ngModel"
           name="zip"
           class="form-control"
           [(ngModel)]="order.zip" required>
    <span *ngIf="submitted && zip.invalid" class="text-danger">Please enter yor zip</span>
  </div>

  <div class="form-group">
    <label for="country">{{"country" | titlecase}}</label>
    <input id="country"
           type="text"
           #country="ngModel"
           name="country"
           class="form-control"
           [(ngModel)]="order.country" required>
    <span *ngIf="submitted && country.invalid" class="text-danger">Please enter yor country</span>
  </div>

  <div class="text-center p-2">
    <div class="btn-group">
    <button class="btn btn-secondary" type="button" routerLink="/cart">Back</button>
    <button class="btn btn-primary" type="submit">Complete Order</button>
    </div>
  </div>

</form>
  </div>
</div>
